*
{
    margin: 0;
    padding: 0;
    
    /* width: 99vw; */
}
/* .logo
{
    margin:10px;
   padding: 5px; 
} */
.search 
{
    display: flex;
    align-items: center;
}

.search input
{
    width: 40vw;
    height: 40px;
    background-color: #F0F5FF;
    border-radius: 5px;
    
}


.navbar
{
    display: flex;
    justify-content:center;
    /* justify-content:flexend; */
    /* justify-content:center; */
    /* transform: translate(100vw-10vw); */
    align-items:center;
}
.navbar{
    margin: 0;
    padding: 10px;
    width: 99vw;
    height:90px;
    background-color: #FFFFFF;
    color: black;
    /* font-size:4vw ; */
    font-size:2vw ;
}
.navbar nav ul li 
{
    width: max-content;
    padding: 1vw;
    display: inline;
    list-style: none;
}
.navbar nav ul li:hover
{
    cursor: pointer;
background-color: black;
color: white;
font-weight: bolder;
}


.boxes
{
    display: flex;
}

.box1
{
width: 10vw;
height: 100vh;
background-color: #F1F2F4 ;
/* border-radius: 18px; */
/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */

}

.box2
{
    width:80vw;
    height: 100vh;
    background-color:white ;
    border: 2px solid rgb(105, 104, 104) ;

}

.box3
{
    width:10vw;
    height: 100vh;
    background-color: #F1F2F4 ;
}